* {
  box-sizing: border-box;
  font-size: calc(.75rem + 1vh);
}

body {
  margin: 0;
}

header {
  height: 13vh;
  position: relative;
  background-color: #b2aeae;
  display: flex;
}

.logo-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

svg {
  width: 20%;
  max-width: 100px;
  max-height: 13vh;
  height: auto;
}

.logo-bg{
  fill: #b2aeae;
}

.logo-dog-outline {
  fill: #000;
}

.logo-dog-body {
  fill: white;
}

.logo-dog-face {
  fill: #000;
}

.logo-text {
  fill: #fff;
}

nav {
  position: absolute;
  top: 40px;
  right: 5%;
}

#burger-btn {
  margin: 0;
  padding: .35rem .45rem;
  background-color: #b2aeae;
}

#menu-open {
  display: none;
}

#menu-closed {
  display: block;
}

ul {
  width: 100%;
  display: none;
  flex-direction: column;
/*   justify-content: center; */
  align-items: left;
  background-color: #fff;
  opacity: .9;
}

li {
  margin-top: .5rem;
  font-size: 1.25rem;
  list-style-type: none;
  border: 2px solid black;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #968d8d;
}