* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.section {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

/* main home page */
.first-page {
  background-image: url("../images/general/ocean.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  position: relative;
  display: flex;
}

.logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  padding: 1rem 0;
  cursor: pointer;
  width: 15vw;
  height: auto;
  animation: roll-in 2s linear;
}

@keyframes roll-in {
  from {transform: translatex(-160%) rotate(0deg)}
  to {transform: translatex(0) rotate(360deg)}
}

.link-wrapper {
  position: absolute;
  top: calc(11vh + .1vw);
  right: 5%;
  padding: .5rem 0;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid black;
}

#burger-btn {
  width: 10vw;
  max-width: 50px;
  height: 10vw;
  max-height: 50px;
  margin: 0;
  padding: .35rem .45rem;
  background-color: #FDFFFC;
  border-radius: 5px;
  cursor: pointer;
}

#menu-open {
  display: none;
}

#menu-closed {
  display: block;
}

.link {
  display: block;
  color: #000;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  margin: .5rem 1rem;
  font-size: 1rem;
  list-style-type: none;
  transition: scale .5s, color .5s;
}

.link:hover {
  color: #003df5;
  scale: 1.25;
}

.intro-wrapper {
  height: 90vh;
}

.intro-text-wrapper {
  padding-top: 2em;
}

.intro-text-wrapper h1 {
  width: 350px;
  font-size: 3rem;
  font-family: 'Amatic SC', cursive;
}

.intro-text-wrapper p {
  color: #000;
}

/* sailing section */
.sailing-title {
  font-size: 2rem; 
  margin: 0;
}

.sailing-intro {
  font-size: 1.5rem; 
}

.sailing-wrapper {
  padding: 2em 0;
  background-color: #EEE2DF;
  color: #230C0F;
}

.boat-wrapper {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.boat {
  width: 45%;
  max-width: 400px;
  min-width: 300px;
  margin: 2em 0;
  background-color: #6A687A;
  color: #EEE2DF;
  border-radius: 10px;
  box-shadow: 5px 2px 15px #8c8c8c;
}

.boat-img {
  width: 100%;
  height: auto;
  display: inline-block;
}

.boat-name {
  text-align: center;
}

.boat-info {
  margin: .5em 1em;
}
/* END - BOATS */

/* LANGUAGES */
.portfolio-wrapper {
  width: 90%;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #EEE2DF;
  border-radius: 10px;
  box-shadow: 5px 2px 15px #8c8c8c;
}

.lang-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8em;
  text-decoration: none;
}

.lang {
  position: relative;
  margin-bottom: 2rem;
  padding-left: 1rem;
  width: 400px;
  height: 400px;
  font-size: 1.25rem;
  line-height: 1.6rem;
  color: #ffffff;
  background-color: #4b4949;
  border-radius: 10px;
  box-shadow: 5px 2px 15px #8c8c8c;
}

.logo {
  position: absolute;
  z-index: 2;
  top: 5px;
  right: 15px;
  opacity: .2;
}

.logo:nth-child(1) {
  position: absolute;
  z-index: 2;
  width: 200px;
  height: auto;
  top: 30px;
  right: 20px;
  opacity: .2;
}

/* END - LANGUAGES */

/* FOOTER */
footer {
  background-color: #6A687A;
}

.foot-wrapper {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  color: #EEE2DF;
}

.foot-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.foot-center {
  font-size: 1rem;
}

.foot-right {
  width: fit-content;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.foot-right a{
  margin-left: .75rem;
  color: #0033ff;
  font-size: 1.5rem;
}
/* END - FOOTER */

.tweets-body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.tweets-wrapper {
  width: 90%;
  margin: 0 auto;
}

.tweets-title {
  text-align: center;
}

.tweet {
  width: 100%;
  height: auto;
}


/* MEDIA QUERIES */
/* phones */
@media (min-width: 300px ) {
  .foot-left {
    text-align: center;
    margin: 0;
  }

  .foot-center {
    font-size: .8rem;
  }

  .lang-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  .lang {
    font-size: 1rem;
  }
}
  
/* tablets */
@media (min-width: 750px ) {
  .link-wrapper {
    position: static;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0);
    border: none;
  }
  
  .logo-link {
    width: 95px;
  }
  
  .link {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
  }

  #menu-open,
  #menu-closed,
  #burger-btn {
    display: none;
  }

  .intro-text-wrapper h1 {
    width: 590px;
  }

  .lang-wrapper {
    gap: 4em;
  }
}
  
/* small screens */
@media (min-width: 1000px ) {
  .link {
    font-size: 1.75rem;
  }

  .intro-text-wrapper h1 {
    width: 590px;
    color: white;
  }

  .lang-wrapper {
    gap: 6em;
  }
}