* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

header {
  position: relative;
  background-color: #b2aeae;
  display: flex;
}

.logo-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  padding: 1rem 0;
  width: 15vw;
  height: auto;
}

.link-wrapper {
  position: absolute;
  top: 11vh;
  right: 5%;
  padding: .5rem 0;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid black;
}

#burger-btn {
  width: 10vw;
  max-width: 50px;
  height: 10vw;
  max-height: 50px;
  margin: 0;
  padding: .35rem .45rem;
  background-color: #b2aeae;
  border-radius: 5px;
}

#menu-open {
  display: none;
}

#menu-closed {
  display: block;
}

.link {
  display: block;
  color: #000;
  text-decoration: none;
  margin: .5rem 1rem;
  font-size: 1.25rem;
  list-style-type: none;
}

.link:hover {
  color: #968d8d;
}

.intro-wrapper {
  height: 80vh;
  background-image: url("images/general/ocean.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.intro-text-wrapper {
  width: 90%;
  margin: 0 auto;
  padding-top: 2em;
}

.intro-text-wrapper h1 {
  width: 350px;
  font-size: 3rem;
  font-family: 'Amatic SC', cursive;
}

.intro-text-wrapper p {
  color: #000;
}

@media (min-width: 750px ) {
  .link-wrapper {
    position: static;
    display: flex;
    flex-direction: row;
    background-color: #b2aeae;
    opacity: 1;
    border: none;
  }

  .logo-link {
    width: 95px;
  }
  
  .link {
    color: #fff;
    font-size: 1.25rem;
  }

  #menu-open,
  #menu-closed,
  #burger-btn {
    display: none;
  }

  .intro-text-wrapper h1 {
    width: 590px;
  }
  

}