.port-page {
  background-color: #f0c987;
}

#burger-btn {
  background-color: #f0c987;
  cursor: pointer;
}

h1 {
  width: 90%;
  margin: 1em auto;
  text-align: center;
  color: #3C153B;
}

.project-wrapper {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2em;
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border: 3px solid #3C153B;
  border-radius: 10px;
}

.project {
  width: 450px;
  height: 200px;
  margin: 1.5em;
  padding: 1em;
  background-color: #DB4C40;
  color: #3C153B;
  border-radius: 10px;
  text-align: center;
  box-shadow: 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: scale 1s;
}

.project:hover {
  scale: 1.25;  
}

.project h3 {
  font-size: 2rem;
  margin: 0;
}

.project-info {
  color: #f0c987;
}

.play {
  display: inline-block;
  width: fit-content;
  font-size: 1.5rem;
  color: #3C153B;
  text-decoration: none;
}

.play:hover {
  color: #89BD9E;
}