body {
  background-color: #FDFFFC;
}

.corsair-wrapper {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FDFFFC;
}

h2 {
  padding: 1rem 2rem;
  width: 100%;
  max-width: 1300px;
  border-radius: 10px;
  background-color: #F06543;
}

.buy-wrapper {
  margin-bottom: 2em;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: #F5EE9E;
  color: #246EB9;
}

.txt-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.corsair-img {
  width: 30%;
  height: auto;
  border-radius: 10px;
}

.corsair-txt {
  width: 90%;
  line-height: 1.5rem;
}